statistics_trade_per_minute/
tw_stock.txt
stocklist_sql/
stock_day/
investors/
yearly_trading_summary/
pe_dy_pb/
company_group/
concept_stock/
monthly_closing_average_price/
monthly_trading_summary/
short_sales_volume_and_value/
highlights_of_daily_trading/
foreign_mainland_area_investors_trading_and_shareholding/
daily_foreign_shareholding_by_industrial/
margin_transactionl/
taiex/
